{% extends "base_generic.html" %}

{% block cssfiles %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/login_form.css' %}">
{% endblock %}

{% block content %}
  <div id="main-container">
    <img class ="open-sign-img" src="https://images.unsplash.com/photo-1546193201-5a992ad56596?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" alt="door sign saying welcome">
    <div class="form-part">
        <section id="navbar-outside" class="navbar">
            <ul>
              <!-- <li><a href="{% url 'login'%}" class="nav-link">Login</a></li> -->
              <li><a href="{% url 'landing-page'%}" class="nav-link">Home</a></li>
            </ul>
        </section>
        <form method="post" action="{% url 'login' %}" id="login-form">
          <h1><a class="home-page-url" href="{% url 'landing-page' %}">My Library</a></h1>
          <p>Welcome Back !<br>Sign in to access your account.</p>
          {% csrf_token %}
          {% if form.errors %}
            <p class="login-warning">Your username and password didn't match. Please try again.</p>
          {% endif %}
          {% if next %}
            {% if user.is_authenticated %}
              <p class="login-warning">Your account doesn't have access to this page. To proceed,
              please login with an account that has access.</p>
            {% else %}
              <p class="login-warning">Please login to see this page.</p>
            {% endif %}
          {% endif %}
    			<div class="form-fields">
    				<!-- <label id="username-label" for="username">{{ form.username.label_tag }}</label> -->
    				<input type="text" id="username" name="username" class="form-control" placeholder="Enter Username" required>
    			</div>
    			<div class="form-fields">
    				<!-- <label id="pass-label" for="password">{{ form.password.label_tag }}</label> -->
    				<input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
    			</div>
          <p class="forgot-password">
            <a class="forgot-pass-link" href="{% url 'password_reset' %}">Forgot password?</a>
          </p>
    			<div class="form-fields">
    				<input type="submit" value="Login" class="submit-button crimson-background">
    			</div>
          <p class="signup-para">Don't have an account? <a class="signup-link" href="{% url 'landing-page' %}">click here</a> to signup</p>
          <input type="hidden" name="next" value="{{ next }}" />
    		</form>
    </div>
  </div>
{% endblock %}
