{% extends 'base_generic.html' %}

{% block cssfiles %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/login_form.css' %}">
{% endblock %}

{% block content %}
  <div id="main-content">
    <h1>My Library</h1>
        {% if validlink %}
          <p>Please enter your new password</p>
          <form action="" method="post" id="login-form" class="green-background">
          {% csrf_token %}
          <div class="form-fields">
    				<label id="password-label" for="id_new_password1">New password:</label>
            {{ form.new_password1.errors }}
    				<input type="password" name="new_password1" class="form-control" autocomplete="new-password" id="id_new_password1" required>
          </div>
          <div class="form-fields">
    				<label id="password-label" for="id_new_password2">Confirm password:</label>
            {{ form.new_password2.errors }}
            <input type="password" name="new_password2" class="form-control" autocomplete="new-password" id="id_new_password2" required>
    				<!-- <input type="password" id="username" name="username" class="form-control" placeholder="Confirm New Password" required> -->
    			</div>
          <div class="form-fields">
            <input type="submit" value="Change password" class="submit-button crimson-background">
          </div>
          </form>
          {% else %}
          <p>Password reset failed</p>
          <p>The password reset link was invalid, possibly because it has already been used. Please request a new <a href="{% url 'password_reset' %}">password reset.</a></p>
        {% endif %}
  </div>
  {% endblock %}
