{% extends "base_generic.html" %}

{% block cssfiles %}
  {% load static %}
  <!-- <link rel="stylesheet" href="{% static 'css/password_reset_complete.css' %}"> -->
  <link rel="stylesheet" href="{% static 'css/logout_page.css' %}">
{% endblock %}

{% block content %}
  <div id="main-container">
    <h1>My Library</h1>
    <!-- <h2>The password has been changed!</h2> -->
    <p>The password has been changed!</p>
    <div class="view-details green-background"><a href="{% url 'login' %}" class="button">Login Again</a></div>
  </div>
{% endblock %}
