{% extends 'base_generic.html' %}

{% block cssfiles %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/login_form.css' %}">
{% endblock %}

{% block content %}
  <div id="main-content">
    <h1>My Library</h1>
    <p>Please enter your email to receive a password reset link.</p>
    <form method="post" action="" id="login-form" class="green-background">
      {% csrf_token %}
      {% if form.email.errors %}
        <p class="login-warning">{{ form.email.errors }}</p>
      {% endif %}
      <div class="form-fields">
				<label id="email-label" for="email">Email</label>
				<input type="email" id="email" name="email" class="form-control" placeholder="Enter your Email" required>
			</div>
      <div class="form-fields">
				<input type="submit" value="Reset password" class="submit-button crimson-background">
			</div>
    </form>
  </div>
{% endblock %}
