{% extends 'base_generic.html' %}

{% block cssfiles %}
  {% load static%}
  <link rel="stylesheet" href="{% static 'css/delete_book_confirm.css' %}" type="text/css">
{% endblock %}

{% block content_inside %}
    <p>Are you sure you want to delete</p>
    <p>"{{ book_instance.book.title }}"?<p>
    <form id="delete-form" action="{% url 'delete-book-wishlist' pk=book_instance.id %}" method="POST">
      {% csrf_token %}
      <input type="submit" class="button-class delete-button crimson-background" value="Yes, Delete">
    </form>
    <form class="no-action-form" action="{% url 'wishlist-initial' %}" method="get">
      <input type="submit" class="button-class no-action-button green-background" value="No, Take me Back">
    </form>
{% endblock %}
