#book-list-container {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  margin: 2.5rem 2rem 1.5rem 2rem;
  grid-row-gap: 30px;
  grid-column-gap: 2rem;
}
.book-list {
  border-radius: 20px;
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 18px;
}
.book-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.book-content a {
  text-decoration: none;
}
.book-content a:hover,.book-description a:hover {
  text-decoration: underline;
  color: white;
}
.book-image {
  border-radius: 20px;
  height: 200px;
  /* align-self: center;
  margin-left: 13px; */
}
.book-title {
    font-size: 16pt;
    margin-bottom: 10px;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.92);
    font-family: 'Noto Sans TC', sans-serif;
    /* text-align: center; */
}
.book-author {
    padding-bottom: 10px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.92);
    font-family: 'Rubik', sans-serif;
    text-align: left;
  }
.book-decsription {
  text-align: justify;
  margin: 0px 10px 10px 0;
  font-family: 'Rubik', sans-serif;
  color: #ffed0f;
  font-size: 16px;
  line-height: 1.3;
}
.book-decsription a {
    font-size: 15px;
    color: cyan;
}
.delete-book {
  align-self: flex-end;
  font-size: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  font-family: 'Rubik', sans-serif;
}
.delete-book a {
  color: white;
}
.delete-book a:hover {
  color: #d20e0e; /*a variation of red color */
  font-weight: bold;
}
.no-books {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}
.no-books p {
  margin: 15px;
  font-size: 19px;
  text-align: center;
  color: white;
  font-family: 'Noto Sans TC', sans-serif;
}
i {
    color: coral;
}
/* for pagination */

ul.pagination {
  display: flex;
  list-style: none;
  color: white;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem
  }
li.page-item {
    border: 2px solid #bbb;
    padding: 12px;
    font-size: 17px;
    font-family: 'Rubik',sans-serif;
}
a.page-link {
  text-decoration: none;
  color: white;
}
