{% extends "base_generic.html" %}

{% block cssfiles %}
{% load static %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <div id="main-container">
        <div id="num-books">
            <p>Books in Collection - {{ num_books_collection }}</p>
            <p>Books in Wishlist - {{ num_books_wishlist }}</p>
        </div>
        <div id="nytimes-books">
            <h2>New York Times Bestsellers</h2>
            <p>( {{ from_date }} - {{ to_date }} )</p>
            {% if nyt_list_data %}
                <div id="nytbook-grid">
                    {% for each_book in nyt_list_data %}
                        <section class="book-list blue-background">
                            <img class="book-image" src="{{ each_book.book_thumbnail }}" alt="{{ each_book.book_obj.title }}">
                            <div class="book-content">
                                <a href="{{ each_book.book_obj.get_bestseller_url }}"><h3 class="book-title">{{ each_book.book_obj.title }}</h3></a>
                                <div class="book-author">Author - {{ each_book.book_obj.author }}</div>
                                <div class="book-rank">Rank - {{ each_book.rank }}</div>
                                <!-- <div class="book-rank">Rank Last Week - {{ each_book.rank_last_week }}</div> -->
                                <!-- <div class="delete-book"><a href="{{ each_book.bookinstance_obj.get_delete_url }}">Delete Book</a></div> -->
                            </div>
                        </section>
                  {% endfor %}
                  <section class="view-collection">
                      <p><a class="view-link" href="#">View Complete List</a></p>
                  </section>
                </div>
            {% else %}
                <p class="no-books">Sorry! Data Not available</p>
            {% endif %}
        </div>
     </div> <!-- main container ends here -->
{% endblock %}
<!-- {{ each_book.book_obj.get_absolute_url }} -->
