#main-container {
    margin-top: 5rem;
}
p {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 18px;
    color: white;
	  font-family: 'Rubik', sans-serif;
}
#add-book-form {
		display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 1rem;
    font-size: 17px;
    color: white;
    border-radius: 15px;
    font-family: 'Rubik', sans-serif;
}
ul.errorlist.nonfield {
    list-style: none;
    text-align: center;
    color: #e30909;
    font-weight: bold;
    margin-bottom: 0;
}
ul.errorlist {
  color: #cc1515;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0px;
  font-size: 14px;
  font-family: monospace;
}
label {
	display: flex;
	text-align: center;
	padding-bottom: 5px;
}
.form-fields {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 0.5rem;
}
.form-control {
	width: 90%;
	height: auto;
	padding: 10px;
	border-radius: 10px;
}
.author-form-control {
    width: 42%;
    border-radius: 10px;
    padding: 10px;
}
#id_language {
  width: 95%;
	height: auto;
	padding: 10px;
	border-radius: 10px;
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
}
option {
    font-size: 15px;
    padding: 15px;
    font-family: 'Rubik',sans-serif;
}
textarea#id_summary {
  font-size: 15px;
  font-family: 'Rubik',sans-serif;
  height: 150px;
}
.submit-btn {
    align-self: center;
    width: 50%;
}
.submit-button {
    width: 100%;
    height: auto;
    font-size: 17px;
    border-radius: 15px;
    margin-bottom: 1rem;
    padding: 10px;
    color: white;
}
