body {
  overflow-y: hidden;
}
#main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: -8px;
}
.text-div {
  margin: 5rem 3rem;
}
p {
  text-align: justify;
  margin-top: 1rem;
  line-height: 1.5;
  margin-bottom: 0;
  font-size: 17px;
  color: #FFEB3B;
  font-family: 'Rubik', sans-serif;
}
q {
    color: #58ecba;
}
#form-div {
  background-image: url("https://images.unsplash.com/photo-1509634928578-951757981629?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80");
  height: 100vh;
  width:100%;
  background-repeat: no-repeat;
  background-size: cover;
}
#add-book-form {
		display: flex;
    flex-direction: column;
    margin: 3rem;
    font-size: 17px;
    color: white;
    border-radius: 15px;
    font-family: 'Rubik', sans-serif;
    background-color: rgba(71, 131, 144, 0.7);
    backdrop-filter: saturate(180%) blur(4px);
}
ul.errorlist.nonfield {
    list-style: none;
    text-align: center;
    color: #b1c734;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
}
ul.errorlist {
  color: #cc1515;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0px;
  font-size: 14px;
  font-family: monospace;
}
label {
	display: flex;
	text-align: center;
	padding-bottom: 5px;
}
.form-fields {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 0.5rem;
}
.form-control {
	width: 90%;
	height: auto;
	padding: 10px;
	border-radius: 10px;
}
.author-form-control {
    width: 42%;
    border-radius: 10px;
    padding: 10px;
}
#id_language {
  width: 95%;
	height: auto;
	padding: 10px;
	border-radius: 10px;
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
}
option {
    font-size: 15px;
    padding: 15px;
    font-family: 'Rubik',sans-serif;
}
textarea#id_summary {
  font-size: 15px;
  font-family: 'Rubik',sans-serif;
  height: 150px;
}
.submit-btn {
    align-self: center;
    width: 50%;
}
.submit-button {
    width: 100%;
    height: auto;
    font-size: 17px;
    border-radius: 15px;
    margin-bottom: 1rem;
    padding: 10px;
    color: white;
}
