#main-container {
  display: grid;
  grid-auto-rows: 200px;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  margin: 5.5rem 3rem 1.5rem 16rem;
  grid-row-gap: 30px;
  grid-column-gap: 2rem;
}
.book-list {
	border-radius: 20px;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
}
.book-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.book-content a {
  text-decoration: none;
}
.book-content a:hover {
  text-decoration: underline;
  color: white;
}
.book-image{
  border-radius: 20px;
  height: 200px;
}
.book-title {
    font-size: 16pt;
    margin-bottom: 10px;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.92);
    font-family: 'Noto Sans TC', sans-serif;
    /* text-align: center; */
}
.book-author {
    padding-bottom: 15px;
    font-size: 13pt;
    color: rgba(255, 255, 255, 0.92);
    font-family: 'Rubik', sans-serif;
    text-align: left;
    /* text-align: center; */
}
.delete-book {
  text-align: center;
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
}
.delete-book a {
  color: white;
}
.delete-book a:hover {
  color: #d20e0e; /*a variation of red color */
  font-weight: bold;
}
p.no-books {
  margin-left: 35%;
  margin-top: 10rem;
  font-size: 24pt;
  color: white;
  font-family: 'Noto Sans TC', sans-serif;
}
/* for pagination */

ul.pagination {
  display: flex;
  list-style: none;
  color: white;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem
  }
li.page-item {
    border: 2px solid #bbb;
    padding: 12px;
    font-size: 17px;
    font-family: 'Rubik',sans-serif;
}
a.page-link {
  text-decoration: none;
  color: white;
}
