.crimson-background {
  background-color: #d41a3d;
}
.green-background {
  background-color: #00A87A;
}
.blue-background {
  background-color: #0077AF;
}
#add-book-button {
    margin-top: 1rem;
    float: right;
    margin-right: 3rem;
}
a.add-book-link {
  text-decoration: none;
  color: white;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 18px;
}
a.add-book-link:hover {
  text-decoration: underline;
}
h1 {
    margin-top: 7rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.89);
    font-size: 30pt;
    font-family: 'Merienda', cursive;
}
#main-container {
			display: grid;
			grid-auto-rows: 200px;
			grid-template-columns: repeat(3,1fr);
			grid-gap: 30px;
			justify-content: center;
			margin: 2rem 5rem;
}
.book-list {
	border-radius: 20px;
}
.book-list a {
  text-decoration: none;
}
.book-list a:hover {
  text-decoration: underline;
  color: white;
}
.book-title {
    font-size: 23pt;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.92);
    font-family: 'Noto Sans TC', sans-serif;
    text-align: center;
}
.book-author {
    padding-bottom: 15px;
    font-size: 14pt;
    color: rgba(255, 255, 255, 0.92);
    font-family: 'Rubik', sans-serif;
    text-align: center;
}
.delete-book {
  text-align: center;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
}
.delete-book a {
  color: white;
}
.delete-book a:hover {
  color: #d20e0e; /*a variation of red color */
  font-weight: bold;
}
p.no-books {
  text-align: center;
  margin-top: 6rem;
  font-size: 24pt;
  color: white;
  font-family: 'Noto Sans TC', sans-serif;
}
