#main-container {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}
p {
  text-align: center;
  margin: 10px;
  font-size: 19px;
  color: white;
  font-family: 'Rubik', sans-serif;
}
.button-class {
  height: auto;
  font-size: 17px;
  border-radius: 15px;
  margin-bottom: 1rem;
  margin-top: 0;
  padding: 10px;
  color: white;
}
.delete-button {
  margin-left: 46%;
}
.no-action-button {
  margin-left: 44%;

}
