body {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #233237;
}
.crimson-background {
  background-color: #d41a3d;
}
.green-background {
  background-color: #00A87A;
}
.blue-background {
  background-color: #0077AF;
}
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #984b43;
  /*background-color: #372823;*/
}
#navbar-inside {
  display: grid;
	grid-template-rows: auto;
	grid-template-columns: repeat(2,1fr);
}
#navbar-outside {
  display: flex;
  position: fixed;
  justify-content: flex-end;
  /* margin-right: 1rem; */
}
.navbar ul {
  list-style: none;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  /* margin-right: 1rem; */
}

.navbar li {
  /* padding: 10px 15px 10px 15px; */
  padding: 14px;
}
ul.side-list {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}
.nav-link {
  font-family: 'Noto Sans TC', sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: white;
}
a.nav-link:hover, a.sidenav-link:hover, a.home-link:hover {
    color: #58ecba;
}
li.active-link {
    background: teal;
    /* border-radius: 10px; */
}
#side-navbar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 16%;
  top: 0;
  left: 0;
  overflow-x: hidden;
  margin-top: 3.5rem;
  position: fixed;
}
h1.side-heading {
  font-size: 23pt;
  text-align: center;
  margin: 10px 10px 10px 26px;
}
a.home-link {
  color: white;
  text-decoration: none;
  font-family: 'Merienda',cursive;
}

#side-navbar ul {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  list-style: none;
  margin: 4rem 0.5rem 2rem 1rem;
  padding: 0;
  grid-row-gap: 20px;
}
#side-navbar li {
  padding: 11px;
  border-radius: 15px;
}
a.sidenav-link {
  text-decoration: none;
  color: white;
  font-family: 'Noto Sans TC',sans-serif;
  font-size: 15px;
}
