body {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #233237;
  font-size: 100%;
}
.crimson-background {
  background-color: #d41a3d;
}
.green-background {
  background-color: #00A87A;
}
.blue-background {
  background-color: #0077AF;
}
#main {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  grid-template-areas: "sideNavbar mainContent";
  margin-top: 3.5rem;
}
.navbar {
  width: 100%;
  top: 0;
  left: 0;
  /*background-color: #372823;*/
}
#navbar-inside {
  position: fixed;
  display: grid;
	grid-template-rows: auto;
	grid-template-columns: repeat(2,1fr);
  /* background-color: #984b43; */
  /* background-color: rgba(19, 79, 93, 0.58); */
  background-color: #134f5d
}
#navbar-outside {
  display: flex;
  /* position: fixed; */
  justify-content: flex-end;
  /* margin-right: 1rem; */
}
.navbar ul {
  list-style: none;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.navbar li {
  /* padding: 10px 15px 10px 15px; */
  padding: 14px;
}
ul.side-list {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}
.nav-link {
  font-family: 'Noto Sans TC', sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: white;
}
a.nav-link:hover, a.sidenav-link:hover, a.home-link:hover {
    color: #58ecba;
}
li.active-link {
  border-bottom: 3px solid;
  border-color: #d41a3d;
}
h1.side-heading {
  font-size: 19px;
  text-align: center;
  margin: 10px;
  padding: 0;
}
a.home-link {
  color: white;
  text-decoration: none;
  font-family: 'Merienda',cursive;
}
#side-navbar {
  grid-area: sideNavbar;
  position:fixed;
}
#main-container {
  grid-area: mainContent;
}
#side-navbar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 4rem;
  padding: 0;
}
#side-navbar li {
  padding: 10px 0;
  border-radius: 5px;
  width: 100%;
  margin-left: 8px;
  margin-top: 1rem;
  /* padding-left: 0; */
  text-align: center;
}

a.sidenav-link {
  text-decoration: none;
  color: white;
  font-family: 'Noto Sans TC',sans-serif;
  font-size: 16px;
}
li.side-active-link {
  background: #d41a3d;
}
