{% extends "base_generic.html" %}

{% block cssfiles %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/add_book.css' %}" type="text/css">
{% endblock %}

{% block content_inside %}
    <div class="text-div">
        <p><q>You are not done with a book until you pass it to another reader.</q> - Donalyn Miller</p>
        <p>By adding a book you will help someone read an awesome book that you love.</p>
        <p>The added book will be refected in your collection.<br>So go ahead and help someone find their next read.</p>
        <p>To add a book fill the form and hit Add Book button.</p>
    </div>
    <div id='form-div'>
        <form action="" method="post" id='add-book-form'>
          {% csrf_token %}
          {{ form.non_field_errors }}
          <div class="form-fields">
              {{ form.book_title.errors }}
        			<label for="id_book_title">Title</label>
              {{ form.book_title }}
        	</div>
          <div class="form-fields author-field">
            <label for="id_author_firstname">Author</label>
            {{ form.author_firstname.errors }}
            {{ form.author_firstname }}
            {{ form.author_lastname.errors }}
            {{ form.author_lastname }}
        </div>
          <div class="form-fields">
              {{ form.language.errors }}
        			<label for="id_language">Language</label>
              {{ form.language }}
        	</div>
          <div class="form-fields">
              {{ form.summary.errors }}
        			<label for="id_summary">Summary</label>
              {{ form.summary }}
        	</div>
          <div class="form-fields submit-btn">
            <input type="submit" value="Add Book" class="submit-button crimson-background">
          </div>
        </form>
    </div>
{% endblock %}
