{% extends "base_generic.html" %}

{% block cssfiles %}
{% load static %}
  <link rel="stylesheet" href="{% static 'css/collection.css' %}" type="text/css">
{% endblock %}

{% block content %}
  <div id="add-book-button"><a href="{% url 'add-book' %}" class='add-book-link'>Add a book</a></div>
  <h1>My Collection</h1>
  {% if bookinstance_list %}
  <div  id="main-container">
    {% if perms.catalog.can_add_book %}
    <!-- We can Add  book to the collection. -->
    <!-- Perhaps add code to link to a "add book" view here. -->
    {% endif %}
    {% for book_inst in bookinstance_list %}
        {% if book_inst.book.title != None %}
          <section class="book-list blue-background">
              <a href="{{ book_inst.get_absolute_url }}"><h3 class="book-title">{{ book_inst.book.title }}</h3></a>
              <div class="book-author">Author - {{ book_inst.book.author }}</div>
              <div class="delete-book"><a href="{{ book_inst.get_delete_url }}">Delete Book</a></div>
          </section>
        {% endif %}
    {% endfor %}
  </div>
  {% else %}
      <p class="no-books">Sorry! No Books Added</p>
  {% endif %}

{% endblock %}
