{% extends "base_generic.html" %}

{% block cssfiles %}
{% load static %}
  <link rel="stylesheet" href="{% static 'css/collection.css' %}" type="text/css">
{% endblock %}

{% block content %}
  {% if book_data_list %}
      <div id="main-container">
            {% for each_book in book_data_list %}
                {% if each_book.actual_book_title != "" %}
                  <section class="book-list blue-background">
                      <img class="book-image" src="{{ each_book.book_image_links.thumbnail }}" alt="{{ each_book.actual_book_title }}">
                      <div class="book-content">
                          <a href="{{ each_book.bookinstance_obj.get_absolute_url }}"><h3 class="book-title">{{ each_book.actual_book_title }}</h3></a>
                          <div class="book-author">Author - {{ each_book.bookinstance_obj.book.author }}</div>
                          <div class="delete-book"><a href="{{ each_book.bookinstance_obj.get_delete_url }}">Delete Book</a></div>
                      </div>
                  </section>
                {% endif %}
          {% endfor %}
      </div>
  {% else %}
      <p class="no-books">Sorry! No Books Added</p>
  {% endif %}
  <!-- this part is for pagination -->
  {% if book_data_list.has_other_pages %}
        <ul class="pagination">
            {% if book_data_list.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ book_data_list.previous_page_number }}">Previous</a>
                </li>
            {% endif %}
            <li class="page-item">
                <a class="page-link" href="#">Page {{ book_data_list.number }} of {{ book_data_list.paginator.num_pages }}</a>
            </li>
            {% if book_data_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ book_data_list.next_page_number }}">Next</a>
                </li>
            {% endif %}
      </ul>
{% endif %}

{% endblock %}
